<%- include('partials/header') -%>

<div class="post">
  
  <div class="time">
    <h1>Today's Post</h1>
    <marquee style="letter-spacing: 2px;">What are you waiting for?  Write your post today.</marquee>
  </div>

  <% if(globalarr.length > 50){ %>
    <% for(var i=(globalarr.length)-1; i >= (globalarr.length)-20; i--) { %>
          <div class="personalContainer">
          <h1><%= globalarr[i].Content.Title %></h1>
          <p>
            <%= globalarr[i].Content.Post.substring(0, 10) + "..." %>
            <a style="color: red;">Read more</a>
          </p>
          <p class="name">by- <%= globalarr[i].Name %> </p>
          </div>

    <% } %>
  <% } else { %>
    <% for(var i=(globalarr.length)-1; i >= 0; i--) { %>
          <div class="personalContainer">
            <h1><%= globalarr[i].Content.Title %></h1>
            <p>
              <%= globalarr[i].Content.Post.substring(0, 200) + "..." %>
              <a href="<%= '/person/' + globalarr[i].Content.Title %>" >Read more</a>
            </p>              
            <p class="name"> <span style="font-family: 'Dancing Script', cursive;">By-</span> <%= globalarr[i].Name %> </p>
          </div>
    <% } %>      
  <% } %>

</div>

<%- include('partials/footer') -%>