<%- include('partials/header') -%>
    <% for(var i=0; i < userArr.length; i++){ %>

        <h1 class="personal-heading">
            <%= userArr[i].Name %>
        </h1>
        <% for(var j=0; j < (userArr[i].Content.length); j++){ %>
            <div class="personalContainer">
                <h1>
                    <%= userArr[i].Content[j].Title %>
                </h1>
                <p>
                    <%= userArr[i].Content[j].Post %> 
                </p>
            </div>

        <% } %>

    <% } %>

    <%- include('partials/footer') -%>